html, body {
    height: 100%;
}
.check{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #6cdfc0;
}
#check_0001{
    display: none;
}
.center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    position: relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    /* width: 80%; */
    height: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
}
#content > #_1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    border: solid;
    border-width: 8px;
    border-color: #6cdfc0;
}
#content > #_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
#content > #_3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #b6efe0;
}
#content > #_4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
#content > #_5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #b6efe0;
}
#content > #_6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.img {
    width: 100%;
    height: 100%;
}
.button{
    margin-top: 20%;
    margin-left: -30%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #6cdfc0;
    border-radius: 10px;
}
