#probNavTaskArea {
  opacity: 0.75;
}

#l13 {
  background-image: url("https://w.wallha.com/ws/13/N7DJn9rG.jpg");
background-size: cover;
background-attachment: fixed;
}

pre.line-numbers.language-c {
  opacity: 0.75;
}
