html, body {
    height: 100%;
}
.check{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #6cdfc0;
}
#check_0002{
    display: none;
}
.center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    position: relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#content {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_1 _2 _4"
        "_1 _3 _4";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 50%;
}
#content1 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_5"
        "_6";
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
body{
    background-image: url('pic1.jpg');
    background-size: cover !important;
    background-attachment: fixed !important;
    color: white;
}
h1{
    font-family: 'Times New Roman', Times, serif;;
    font-size: 40px;
    padding-top: 20%;
    padding-bottom: 10%;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2em;
    font-weight: 200;
}
#_1 {
    grid-area: _1;
}
#_2 {
    grid-area: _2;
    border-color: #6cdfc0;
    border: solid;
    border-width: 2px;
    height: 80%;
    width: 100%;
    margin: auto;
}
#_3 {
    grid-area: _3;
    border: solid;
    border-width: 2px;
    height: 80%;
    width: 100%;
    margin: auto;
}
#_4 {
    grid-area: _4;
}
#_5 {
    grid-area: _5;
    border: solid;
    border-width: 2px;
    height: 100%;
    width: 100%;
    margin: auto;
}
#_6 {
    grid-area: _6;
    border: solid;
    border-width: 2px;
    height: 100%;
    width: 100%;
    margin: auto;
}
/* #_7 {
    grid-area: _7;
    border: solid;
    border-width: 2px;
    height: 80%;
    width: 100%;
    margin: auto;
}
#_8 {
    grid-area: _8;
    border: solid;
    border-width: 2px;
    height: 80%;
    width: 100%;
    margin: auto;
} */
