html, body {
    height: 100%;
}
.full___{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.center___{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 100%;
    position: relative;
}
.vertical-center___ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#content___ {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_01___ _02___ _03___ _04___ _05___ _06___"
        "_07___ _07___ _07___ _07___ _08___ _08___";
    grid-template-columns: 17% 17% 16% 16% 17% 17%;
    grid-template-rows: 12% 88%;
}
.right___{
    background-color: #643b18;
}
#content1___ {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_09___"
        "_10___"
        "_11___";
    grid-template-columns: 100%;
    grid-template-rows: 24% 48% 28%;
    background-color: #643b18;
    color: white;
}
#content2___ {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_12___ _13___ _14___"
        "_15___ _16___ _17___";
    grid-template-columns: 33% 33%;
    grid-template-rows: 50% 50%;
    background-color: #643b18;
    color: white;
}
#content3___ {
    width: 70%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
        "_18___ _19___";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    background-color: #643b18;
    color: white;
}
.body_center___{
    background-color: #311a06;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7vmin;
    height: 100%;
    width: 100%;
}
.h1___{
    line-height: 1em;
    font-size: 3vmin;
}
.upper-link___{
    color: white;
    cursor: pointer;
}
.upper-link:hover___{
    color: yellow;
}
.bottom-left___{
    position: absolute;
    bottom: 3%;
    left: 3%;
}
.container_1___{
    width: 99%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    color: white;
    background: url(pic3.jpg) no-repeat center;
    background-size: cover;
}
.container___{
    position: relative;
    display: block;
    width: 90%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
}

.container___ input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.container1___ input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark___ {
    border-width: thin;
    border-radius: 10%;
    border: solid;
    border-color: black;
    left: 0;
    width: 99%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    cursor: pointer;
    background-color: #ddd3a8;
}

.checkmark___:hover {
    background-color: #cdc398;
    color: yellow;
}

.container___ input:checked ~ .checkmark___ {
    background-color: #9d9368;
}

.container___ input:checked ~ .checkmark___:hover {
    background-color: #8d8358;
    color: yellow;
}


.container1___{
    position: relative;
    display: block;
    margin-top: 25%;
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border: solid;
    border-color: black;
    border-width: thin;
    cursor: pointer;
    color: black;
    background-color: #dfc760;
    cursor: pointer;
}

.container1___:hover {
    background-color: #bfa740;
    color: yellow;
}




#_01___ {grid-area: _01___;}
#_02___ {grid-area: _02___;}
#_03___ {grid-area: _03___;}
#_04___ {grid-area: _04___;}
#_05___ {grid-area: _05___;}
#_06___ {grid-area: _06___;}
#_07___ {grid-area: _07___;}
#_08___ {grid-area: _08___;}
#_09___ {grid-area: _09___;}
#_10___ {grid-area: _10___;}
#_11___ {grid-area: _11___;}
#_12___ {grid-area: _12___;}
#_13___ {grid-area: _13___;}
#_14___ {grid-area: _14___;}
#_15___ {grid-area: _15___;}
#_16___ {grid-area: _16___;}
#_17___ {grid-area: _17___;}
#_18___ {grid-area: _18___;}
#_19___ {grid-area: _19___;}
#_20___ {grid-area: _20___;}
#_21___ {grid-area: _21___;}
#_22___ {grid-area: _22___;}
#_23___ {grid-area: _23___;}
#_24___ {grid-area: _24___;}
#_25___ {grid-area: _25___;}
#_26___ {grid-area: _26___;}
